body {
    font-family: "Helvetica", Arial, sans-serif;    
    background-position: center;
    color: #fdfdfd;
    margin: 0;
    padding: 0;
}

.container {width: 65%;
    margin: 50px auto;
    border: 1px solid #000000;
    padding: 30px;
    border-radius: 8px;
    background-image: url('https://th.bing.com/th/id/R.5f08396b7802a37f78a44173fa972dbf?rik=S2I%2fn35pRfpqOg&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fwp1827314.jpg&ehk=H%2bKMGlg5Cdxo6Z0Gsv2%2fwlfLrtCByb7Zcn3fWkOdaE4%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    

h1 {text-align: center;
    font-weight: 500;
    margin-bottom: 25px;}



p {
    font-size: 20px;
    line-height: 1.6;
    margin: 0;}

img {width: 100%;
    max-width: 480px;
    display: block;
    margin: 25px auto 0 auto;
    border-radius: 4px;
    border: 1px solid #ff0000;}


}